.sign-in-form {
  position: absolute;
  top: calc(50% - 214px);
  // width: 30%;
  // max-width: 400px;
  background: #f5f5f5;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 30px 1px rgba(0, 0, 0, 0.2);

  .site-title {
    font-size: 7vw;
    font-weight: bold;
    letter-spacing: -4px;
    text-align: center;
    margin-bottom: 20px;
  }

  .user-auth-btns {
    display: flex;
    // padding-bottom: 10px;
    border-bottom: 1px solid var(--color-dark);
    margin-bottom: 20px;

    & > * {
      padding: 10px;
      margin-right: 10px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background: var(--color-dark);
        color: var(--color-light);
      }
    }

    .active {
      background: var(--color-dark);
      color: var(--color-light);
    }
  }

  form {
    display: flex;
    flex-direction: column;

    & > input,
    button {
      margin-bottom: 20px;
      height: auto;
      background: none;
      border: 1px solid black;
      padding: 10px;
      border-radius: 5px;
    }
    button {
      margin-top: 0px;
      // font-size: 15px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background: var(--color-dark);
        color: var(--color-light);
      }

      &:focus {
        outline: none;
      }
    }

    .spinner {
      display: flex;
      justify-content: center;
    }
  }
}
