.sign-in-form {
  width: 30%;
  max-width: 400px;
  background: #f5f5f5;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 30px 1px rgba(0, 0, 0, 0.2);

  .site-title {
    font-size: 110px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;

    & > input {
      margin-bottom: 20px;
      height: auto;
      background: none;
      border: 1px solid black;
      padding: 10px;
      border-radius: 5px;
    }
    input[type='submit'] {
      margin-top: 10px;
      font-size: 15px;
      cursor: pointer;
      transition: all 0.6s;

      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}
