.control-panel {
  background-color: var(--color-dark);
  color: var(--color-light);
  width: 20%;
  // padding: 10px 2%;
  // overflow-y: scroll;
  overflow: hidden;
}

.form-container {
  // border: 1px solid;
  // border-radius: 5px;
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 0;

      &:focus {
        outline: none;
      }
    }
  }
}

.total-countries {
  padding: 20px;

  h1 {
    font-size: 60px;
  }
  h1,
  h3 {
    text-align: center;
  }
}

.search {
  padding: 20px;

  input {
    margin-top: 10px;
    width: 100%;
    border: 1px solid var(--color-light);
    border-radius: 5px;
    background: none;
    color: var(--color-light);
    padding: 8px;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }
}

.user-countries {
  // margin-top: 50px;
  overflow-y: scroll;
  height: calc(100% - 150px);
  padding: 0 20px;

  &__country {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 10px 0;

    // &:nth-child(even) {
    //   background-color: var(--color-highlight);
    // }
  }

  &__flag {
    img {
      max-width: 40px;
    }
  }

  &__country-name {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    margin: 0 10px;
  }

  &__country-delete {
    background: none;
    border: 0;
    color: var(--color-light);
    padding: 0;
    cursor: pointer;
  }
}
