.control-panel {
  background-color: var(--color-dark);
  color: var(--color-light);
  width: 25%;
  padding: 10px 2%;
  overflow-y: scroll;
}

.form-container {
  // border: 1px solid;
  // border-radius: 5px;
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 0;

      &:focus {
        outline: none;
      }
    }
  }
}

.user-countries {
  // margin-top: 50px;
  &__country {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px 0;

    &:nth-child(even) {
      background-color: var(--color-highlight);
    }
  }

  &__flag {
    img {
      max-width: 50px;
    }
  }

  &__country-name {
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    margin: 0 10px;
  }

  &__country-delete {
    background: none;
    border: 0;
    color: var(--color-light);
    cursor: pointer;
  }
}
