.right-panel {
  width: 15%;
  overflow: hidden;
}

.countries-list {
  background-color: var(--color-dark);
  color: var(--color-light);
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  // padding: 20px;

  &__search {
    // position: fixed;
    background: var(--color-dark);
    width: 100%;
    padding: 20px;

    input {
      width: 100%;
    }
  }

  &__all {
    // margin-top: 70px;
    padding: 0 20px;
  }

  .country-entry {
    // background: blue;
    margin: 5px 0;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    // height: 30px;

    cursor: pointer;

    &:hover {
      background: #666;
    }

    .country-flag {
      margin-right: 20px;
      img {
        max-width: 40px;
      }
    }

    h4 {
      margin: 0;
      font-size: 12px;
    }
  }
}
