.right-panel {
  width: 15%;
  overflow: hidden;
}

.countries-list {
  background-color: var(--color-dark);
  color: var(--color-light);
  width: 100%;
  overflow-y: scroll;
  height: calc(100% - 86px);
  // padding: 20px;

  &__search {
    // position: fixed;
    background: var(--color-dark);
    color: var(--color-light);
    width: 100%;
    padding: 20px;

    input {
      margin-top: 10px;
      width: 100%;
      border: 1px solid var(--color-light);
      border-radius: 5px;
      background: none;
      color: var(--color-light);
      padding: 8px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }
  }

  &__all {
    // margin-top: 70px;
    padding: 0 20px;
  }

  .country-entry {
    // background: blue;
    margin: 5px 0;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    height: 55px;

    cursor: pointer;

    &:hover {
      background: #666;
    }

    &.selected {
      background: var(--color-selected);
      cursor: not-allowed;
    }

    .country-flag {
      margin-right: 20px;
      img {
        max-width: 40px;
      }
    }

    h4 {
      margin: 0;
      font-size: 12px;
    }
  }
}
