.countries-list {
  background-color: var(--color-dark);
  color: var(--color-light);
  width: 25%;
  overflow-y: scroll;
  padding: 20px;

  &__search {
    position: fixed;
    background: var(--color-dark);
  }

  &__all {
    margin-top: 100px;
  }

  .country-entry {
    // background: blue;
    margin: 5px 0;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    height: 30px;

    cursor: pointer;

    &:hover {
      background: #666;
    }

    .country-flag {
      margin-right: 20px;
      img {
        max-width: 40px;
      }
    }

    h4 {
      margin: 0;
      font-size: 12px;
    }
  }
}
