.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--color-highlight);
  color: var(--color-light);
  height: 70px;

  &__site-title {
    font-size: 30px;
    font-weight: bold;
  }

  &__controls {
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      display: flex;

      li {
        margin-left: 20px;
        display: flex;
        align-items: center;
      }
    }
  }

  &__sign-out {
    padding: 10px;
    border: 1px solid var(--color-light);
    border-radius: 5px;
    background: none;
    color: var(--color-light);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: var(--color-light);
      color: var(--color-dark);
    }
  }
}
