.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background: var(--color-highlight);
  color: var(--color-light);
  height: 50px;

  &__site-title {
    font-size: 30px;
    font-weight: bold;
  }

  &__controls {
    display: flex;

    ul {
      list-style: none;
      display: flex;

      li {
        margin-left: 20px;
      }
    }
  }
}
